extends: default

rules:
  line-length:
    max: 120
    level: warning

# Exclude directories from linting
ignore: |
  apps/xmpp/prosody-modules/
  apps/xmpp/prosody-modules-enabled/
  .git/
  node_modules/
