---
name: Reusable Docker Build
on:
  workflow_call:
    inputs:
      working-directory:
        required: true
        type: string
      image-name:
        required: true
        type: string
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd  # v5
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f  # v3
      - name: Build Image
        run: |
          cd ${{ inputs.working-directory }}
          docker build -f Containerfile -t ${{ inputs.image-name }}:test .
      - name: Smoke Test
        run: |-
          docker run --rm --entrypoint echo ${{ inputs.image-name }}:test "Smoke test passed"
